@charset "utf-8";

body {
    font-family: 'Noto Serif KR', sans-serif;
    font-family: 'Roboto', sans-serif;

    text-align: center;
}
.container-wrap{
    padding: 160px 0;
}
.section01{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 190px;
}
.thum-box{
    margin-right: 120px;
}
.thum-box>img{
    width: 100%;
}
.user-info-box{
    text-align: left;
    margin-top: 30px;
}
.follow-wrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 90px;
    font-family: 'Noto Serif KR', sans-serif;
}
.post-box,
.following-box{
    margin-right: 122px;
}
.post-box p:first-child,
.following-box p:first-child,
.followers-box p:first-child{
    color: #385365;
    font-family: Noto Serif KR;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px; /* 133.333% */
    margin-bottom: 20px;
}
.post-box p:last-child,
.following-box p:last-child,
.followers-box p:last-child{
    color: #385365;
    text-align: center;
    font-family: Noto Serif KR;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 100% */
}
.infomation-wrap h1{
    color: #385365;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 83.333% */
    margin-bottom: 20px;
}
.infomation-wrap p{
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}
.infomation-wrap>a{
    display: inline-block;
    width: 639px;
    color: #385365;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 100% */
    margin-top: 20px;
}
.fm-button-wrap button{
    border-radius: 20px;
    width: 305.411px;
    height: 71.765px;
    flex-shrink: 0;
    margin-top: 142px;
}
.fm-button-wrap button:first-child{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 100% */
    border-radius: 20px;
    background: #385365;
    box-shadow: 0px 2.5px 5px 0px rgba(0, 0, 0, 0.10);
    margin-right: 30px;
}
.fm-button-wrap button:last-child{
    color: #385365;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 100% */
    border-radius: 20px;
    background: #DFDFDF;
    box-shadow: 0px 2.5px 5px 0px rgba(0, 0, 0, 0.10);
}
.section02{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}
.posting-list{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding-left: 60px;
}
.user-info-home-box{
    margin-top: auto;
    padding-right: 60px;

}
.user-info-home-box a{
    display: inline-block;
    margin-left: auto;
}
.user-info-home-box a img{
    width: 30px;
    margin-bottom: 30px;
}
.user-info-home-box p{
    writing-mode: vertical-lr;
    font-size: 30px;
    color: #385365;
    transform: rotate(180deg);
    margin-right: auto;
}


/* 반응형 */
@media (min-width: 320px) and (max-width: 400px){
  
}