@charset "utf-8";

body {
    font-family: 'Space Grotesk', sans-serif;
    color: #121212;
    text-align: center;
}
header {
    display: inline-block;
    padding: 52px 19px;
    margin: 0 auto;
}

header h1,
header nav,
header nav ul,
header nav ul li,
header nav ul li a img,
header .info-wrap,
header .info-wrap img,
header .info-wrap .basket-box{
    display: inline-block;
    vertical-align: middle;
}

header h1 {
    margin-right: 328px;
}

header nav {
    margin-right: 338px;
}

header nav ul li a{
    color: #fff;
}

header nav ul li:not(:last-child){
    margin-right: 40px;
}

header .info-wrap> a > img{
    margin-right: 20px;
}

header .info-wrap .basket-box span{
    display: inline-block;
    padding: 5px 10px;
    background: #fff;
    color: #000;
    border-radius: 50%;
    font-size: 12px;
}

/* main */
/* sectiont01 */
.sectiont01{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.sectiont01 img{
    width: 100%;
}
.artisan-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.artisan-wrap>p:first-child{
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}
.artisan-wrap>p:last-of-type{
    font-family: Space Grotesk;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 84px; /* 105% */
    letter-spacing: -3px;
}
.see-btn{  
    display: flex;
    padding: 10px 26px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    background: #121212;
    color: #fff;
}
.see-btn>p{
    display: inline;
}
.see-btn>img{
    width: 24px;
    height: 24px;
}


@media (min-width: 320px) and (max-width: 376px){
 
}